.autores {
	width: 90%;
	margin: 0 auto;
	max-width: 1440px;
	padding-top: 4em;
	text-align: center;
	font-family: gilroyRegular;
	padding-bottom: 5em;
	box-sizing: border-box;
}

.autores * {
	box-sizing: border-box;
}

.autores__lines {
	width: 20%;
	position: absolute;
	right: -2em;
	top: 15em;
	transform: rotate(90deg);
}

.autores__text {
	padding: 0 20%;
	margin-top: 2em;
	margin-bottom: 5em;
}

.autores__h {
	font-family: gilroyBold;
	display: inline-block;
	background: url('/assets/img/autores/recurso2.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 2em 2.5em;
	padding: 2em 1em;
	font-size: 2.5em;
}

.autores__title {
	background-position: right;
	animation: autores-title 1s forwards;
}

.-name {
	font-size: 2em;
	position: relative;
	left: -1em;
	padding: 1em 1em;
}

.autores__section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	text-align: left;
	margin: 2em 0;
}

.-reverse {
	flex-wrap: wrap-reverse;
}

.autores__section__img {
	width: 35%;
}

.autores__section__text {
	width: 65%;
	padding: 0 10%;
}

.autor__text {
	text-align: justify;
}

@media screen and (max-width: 1024px) {
	.autores {
		padding: 0 1em;
		padding-top: 3em;
	}
	.autores__text {
		padding: 0;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.autores__section__img {
		width: 100%;
	}
	.autores__section__text {
		width: 100%;
		padding: 0;
	}
	.autores__lines {
		display: none;
	}
	.-name {
		left: 0em;
	}
	.autores__section {
		margin: 5em 0;
	}
}

@keyframes autores-title {
	from {
		background-position: right;
		opacity: 0;
		transform: translate(0, 2em);
	}
	to {
		background-position: left;
		opacity: 1;
		transform: translate(0, 0);
	}
}
