.individualBlog {
	box-sizing: border-box;
	width: 90%;
	min-height: 100vh;
	padding: 9em 5em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 40vh auto 1fr;
	grid-template-areas:
		'title img img'
		'text text text'
		'blogs blogs blogs';
	grid-gap: 1em;
	grid-row-gap: 4em;
	max-width: 1440px;
	margin: 0 auto;
}

.individualBlog * {
	box-sizing: border-box;
	font-family: gilroyRegular;
}

.individualBlog__title {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.individualBlog__title__h1 {
	background: url('/assets/img/blog/title-figure.png');
	background-position: 0 0;
	background-size: 2.5em;
	background-repeat: no-repeat;
	display: inline-block;
	padding-left: 0.7em;
	padding-top: 0.3em;
	position: relative;
	left: -0.7em;
}

.individualBlog__img {
	grid-area: img;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.individualBlog__text img {
	max-width: 100%;
	max-height: 50vh;
	margin: 2em 0;
	object-fit: cover;
}

.individualBlog__text {
	grid-area: text;
	-webkit-column-width: 50%;
	-moz-column-width: 50%;
	column-width: 50%;
	column-count: 2;
	-webkit-column-gap: 10%;
	-moz-column-gap: 10%;
	column-gap: 10%;
}

.individualBlog__text p {
	margin: 1em 0;
}

.individualBlog__error {
	text-align: center;

	font-family: gilroyRegular;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.individualBlog__error__p {
	font-size: 2em;
	font-weight: bold;
	color: rgb(255, 91, 91);
}

.individualBlog__404 {
	text-align: center;
	font-family: gilroyRegular;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.individualBlog__404__title {
	font-size: 5em;
	font-weight: bold;
}

.individualBlog__404__link {
	text-decoration: underline;
}

.individualBlog__relacionados {
	grid-area: blogs;
}

.individualBlog__title__h3 {
	font-family: gilroyBold;
	font-size: 35px;
	font-weight: bold;
}

.blog-error {
	width: 100%;
	color: rgb(255, 91, 91);
	font-family: gilroyBold;
	text-align: center;
	grid-column: span 2;
}
.loadingSection {
	width: 100%;
	font-family: gilroyBold;
	text-align: center;
	grid-column: span 2;
}

.individualBlog__relacionados__container {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 1024px) {
	.individualBlog {
		box-sizing: border-box;
		width: 100%;
		min-height: 100vh;
		padding: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 40vh auto auto 1fr;
		grid-template-areas:
			'img img'
			'title title'
			'text text'
			'blogs blogs';
		grid-gap: 1em;
		grid-row-gap: 2em;
	}
	.individualBlog__text {
		column-count: 1;
		padding: 0 2em;
	}
	.individualBlog__title {
		padding: 0 2em;
		grid-column: span 2;
	}
	.individualBlog__relacionados {
		padding: 0 2em;
	}
}
