@font-face {
	font-family: gilroyBold;
	src: url('/assets/fonts/gilroy-bold.ttf');
}

@font-face {
	font-family: gilroyHeavy;
	src: url('/assets/fonts/gilroy-heavy.ttf');
}

@font-face {
	font-family: gilroyLight;
	src: url('/assets/fonts/gilroy-light.ttf');
}

@font-face {
	font-family: gilroyMedium;
	src: url('/assets/fonts/gilroy-medium.ttf');
}

@font-face {
	font-family: gilroyRegular;
	src: url('/assets/fonts/gilroy-regular.ttf');
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}

:root {
	--swiper-theme-color: #f2de02 !important;
}

a {
	color: inherit;
	text-decoration: none;
}

*::selection {
	background-color: #f2de03;
	color: white;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.5);
}

.swal2-title {
	font-family: gilroyBold;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
	opacity: 0.35;
	cursor: auto;
	pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	left: 10px;
	right: auto;
}

.swiper-button-prev,
.swiper-button-next {
	position: absolute;
	top: 50%;
	width: calc(var(--swiper-navigation-size) / 44 * 27);
	height: var(--swiper-navigation-size);
	margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	right: 10px;
	left: auto;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
	content: 'prev';
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
	content: 'next';
}
.swiper-button-prev:after,
.swiper-button-next:after {
	font-family: swiper-icons;
	font-size: 3em;
	text-transform: none !important;
	letter-spacing: 0;
	text-transform: none;
	font-variant: initial;
	line-height: 1;
	transform: translate(0, -50%);
}

#nprogress .bar {
	background: #f2de02 !important;
}

#nprogress .spinner-icon {
	border-top-color: transparent !important;
	border-left-color: transparent !important;
}

#nprogress .peg {
	box-shadow: 0 0 10px #f2de02, 0 0 5px #ffee30 !important;
}

@media screen and (max-width: 768px) {
	body {
		font-size: 4vw;
	}
}

@keyframes box-rigth {
	from {
		width: 20vw;
		transform: translateX(-50vw);
	}
	to {
		width: 70px;
		transform: translateX(0);
	}
}

@keyframes opacity-up {
	from {
		opacity: 0;
		transform: translate(0, 2em);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}
