footer {
	background: #f2de02;
	width: 100%;
	box-sizing: border-box;
	padding: 25px 30px;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 0px;
}

footer .divList {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}

footer .divList a {
	text-decoration: none;
	color: #000;
	font-family: gilroyRegular;
	font-size: 17px;
}

footer .divRedes {
	margin-top: 40px;
	margin-left: 150px;
}

footer .divRedes .redes {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer .divRedes .redes i {
	font-size: 20px;
	color: #000;
	text-align: center;
	margin: 0px 5px;
}

footer .divRedes p,
.link__email {
	font-family: gilroyRegular;
	font-size: 17px;
	margin: 7px 0px;
	text-align: center;
}

footer .divDerechos {
	display: flex;
}

footer .divDerechos p {
	font-family: gilroyRegular;
	font-size: 17px;
	margin-top: 110px;
}

footer .divDerechos img {
	width: 170px;
	height: auto;
}

.footer__red {
	height: 1em;
}

footer .divRedes .redes {
	width: 50%;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 25%;
	box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
	footer .divRedes p,
	.link__email {
		font-family: gilroyRegular;
		font-size: 0.8em;
		margin: 7px 0px;
		text-align: center;
	}
	.link__email {
		margin: 0;
	}
	footer {
		flex-direction: column;
		position: relative;
		padding: 25px 30px;
		align-items: center;
	}
	footer .divList {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
		width: 100%;
		max-width: 400px;
	}
	footer .divList a {
		font-size: 0.8em;
	}
	footer .divRedes {
		margin: 0;
		order: -1;
		margin-bottom: 1em;
	}
	footer .divRedes .redes {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0 25%;
		box-sizing: border-box;
	}
	footer .divDerechos p {
		margin: 0;
	}
	footer .divDerechos img {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 10vw;
	}
	footer .divDerechos p {
		font-size: 0.8em;
		margin-top: 1em;
	}
}
